@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: 
  url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
  url('../fonts/fraunces-v10-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: 
  url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), 
  url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

img{
  vertical-align: middle;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', 'Arial' , serif;
  font-family: 'Barlow', 'Arial' , sans-serif;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

ul,ol,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header{
  padding: 40px  0;
}

.container{
  width: 1320px;
  padding: 0px 20px;
  margin: 0 auto;
}

.header__inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo{
  margin-right: auto;
}

.header__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.header__item{
  list-style: none;
  margin-right: 33px;
}

.header__item:nth-child(3){
  margin: 0;
}


.header__link{
  text-decoration: none;
  color: rgba(131, 136, 143, 1);
  font-family: 'Barlow';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__link:hover{
  color: rgba(51, 61, 75, 1);
}

// =========hero=========

.hero__inner{
  background-image: url(../img/cofeeimg.svg);
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-bottom: 160px;
}

.hero__left{
  width: 445px;
  padding: 137px 0px 137px 85px;
}

.hero__title{
  color: rgba(254, 252, 247, 1);
  font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
margin-bottom: 24px;
}

.hero__text{
  color: rgba(254, 252, 247, 1);
  font-family: "Barlow";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}

// <!-- =========Our commitment====== -->

.commitment{
  padding-bottom: 250px;
}

.commitment__inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commitment_right{
  width: 540px;
}

.commitment__title{
  color: rgba(51, 61, 75, 1);
  font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
margin-bottom: 32px;
}

.commitment__text{
  color: rgba(51, 61, 75, 1);
  font-family: "Barlow";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}

// <!-- =========quality======== -->

.quality{
  padding-bottom: 160px;
}

.quality__inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 474px;
  background-image: url(../img/backround.svg);
}

.quality__right{
  position: absolute;
  bottom: 90px;
  right: 80px;
}


.qiality__left{
  position: absolute;
  width: 540px;
  left: 85px;
  top: 100px;
}

.quality__title{
 color: rgba(254, 252, 247, 1);
 font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
margin-bottom: 32px;
}

.quality__text{
  color: rgba(254, 252, 247, 1);
  font-family: "Barlow";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}

// <!-- ===========location======== -->

.location{
  padding-bottom: 160px;
}

.location__inner{
  margin-left: 70px;
}

.location__title{
  color: rgba(131, 136, 143, 1);
  font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
margin-bottom: 70px;
}

.location__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location__item{
  width: 280px;
}

.location__item:nth-child(2){
  width: 250px;
  margin-right: 70px;
  margin-left: 100px;
}

.map{
  text-decoration: none;
}

.map__img{
  margin-bottom: 45px;
}

.map__title{
  list-style: none;
  color: rgba(51, 61, 75, 1);
  font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
margin-bottom: 25px;
}

.info__item{
  color: rgba(51, 61, 75, 1);
  font-family: "Barlow";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
margin-bottom: 6px;
}

.info__link{
  text-decoration: none;
  color: rgba(51, 61, 75, 1);
  font-family: "Barlow";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}

/* ========footer===== */

footer{
  padding-bottom: 40px;
}

.footer__inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(44, 52, 62, 1);
  padding: 48px 85px;
}

.footer__list{
  margin-right: auto;
}

.footer__img{
  vertical-align: middle;
  margin-right: 100px;
}

.footer__item{
  margin-right: 33px;
}

.footer__link:hover{
  color: rgba(254, 252, 247, 1);
}

.icon{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon__item:nth-child(2){
  margin-right: 25px;
  margin-left: 25px;
}

.icon__link:hover{
  opacity: 0.6;
}

