/* ========footer===== */

footer{
  padding-bottom: 40px;
}

.footer__inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(44, 52, 62, 1);
  padding: 48px 85px;
}

.footer__list{
  margin-right: auto;
}

.footer__img{
  vertical-align: middle;
  margin-right: 100px;
}

.footer__item{
  margin-right: 33px;
}

.footer__link:hover{
  color: rgba(254, 252, 247, 1);
}

.icon{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon__item:nth-child(2){
  margin-right: 25px;
  margin-left: 25px;
}

.icon__link:hover{
  opacity: 0.6;
}

@media only screen and (max-width:1000px){
  .footer__inner{
    padding: 48px 40px;
  }
}

@media only screen and (max-width:900px){
  .footer__img{
    margin-right: 0;
  }
  .img__logo{
    width: 330px;
  }
  .footer__inner{
    flex-direction: column;
    padding: 50px 0;
  }
  .footer__list{
    margin: 0 auto;
  }
  .footer__left{
    margin-bottom: 40px;
  }
  .footer__right{
    margin-top: 50px;
  }
  .footer__link{
    font-size: 15px;
  }
}

@media only screen and (max-width:440px){
  .img__logo{
    width: auto;
  }
  .footer__link{
    font-size: 12px;
  }
}
@media only screen and (max-width:380px){
  .footer__list{
    flex-direction: column;
    text-align: center;
  }
  .footer__item{
    margin-bottom: 20px;
    margin-right: 0;
  }
  .footer__icon{
    display: flex;
  }
}

@media only screen and (max-width:350px){
  .img__logo{
    width: 210px;
  }
  .icon__img{
    width: 20px;
  }
}