// <!-- ===========location======== -->

.location{
  padding-bottom: 160px;
}

.location__inner{
  margin-left: 70px;
}

.location__title{
  color: rgba(131, 136, 143, 1);
  font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
margin-bottom: 70px;
}

.location__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location__item{
  width: 280px;
}

.location__item:nth-child(2){
  width: 250px;
  margin-right: 70px;
  margin-left: 100px;
}

.map{
  text-decoration: none;
}

.map__img{
  margin-bottom: 45px;
}

.map__title{
  list-style: none;
  color: rgba(51, 61, 75, 1);
  font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
margin-bottom: 25px;
}

.info__item{
  color: rgba(51, 61, 75, 1);
  font-family: "Barlow";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
margin-bottom: 6px;
}

.info__link{
  text-decoration: none;
  color: rgba(51, 61, 75, 1);
  font-family: "Barlow";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}

@media only screen and (max-width:800px){
  .location__item:nth-child(2){
    margin-right: 30px;
    margin-left: 25px;
  }
}

@media only screen and (max-width:700px){
  .location__inner{
    margin-left: 35px;
  }

  .location__title{
    text-align: center;
    font-size: 30px;
  }
}

@media only screen and (max-width:600px){
  .location{
    padding-bottom: 100px;
  }
 
  .location__inner{
    margin-left: 0px;
  }

  .location__list{
    flex-direction: column;
    text-align: center;
  }

  .location__item , .location__item:nth-child(2){
    margin: 0 auto;
    margin-bottom: 80px;
  }

}

@media only screen and (max-width:340px){
  .location__title{
    text-align: center;
    font-size: 25px;
  }

  .location__item{
    width: 100%;
    max-width: 275px;
  }

  .map__title{
    font-size: 29px;
  }
}

