 // =========plan hero=========

.plan-hero{
  margin-bottom: 168px;
}

.plan-hero__inner{
  background-image: url(../../img/forcofee.png);
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 137px 0px 137px 85px;
}

.hero__left{
  width: 445px;
}

.plan__left{
  width: 485px;
}

.plan__title{
  color: rgba(254, 252, 247, 1);
  font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
margin-bottom: 24px;
}

.plan__title{
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
}

.plan__text{
  color: rgba(254, 252, 247, 1);
  font-family: "Barlow";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}
